



.card.Strike{
  $color-here :red;
  background-color: $color-here;

}
.card.Bash{
  $color-here :orange;
  background-color: $color-here;

  & .cardIcon{ background-image: url("../graphics/attackCards/bash.png"); }
}
.Poison{
  background-color: green;
}
.Bleed{ 
  background-color: crimson;
}
.card{
  background-color: white;
  & .cardIcon{background-image: url();}
}
